<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Navv=bar -->
    <nav>
        <div class="site-title">
            <a href="/">
                <h1>Apple Blade</h1>
                <p>My site</p>
            </a>
        </div>
        <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
        </ul>
    </nav>
    <div class="blog-content">
        <h2>All Blogs</h2>
    </div>
</body>

</html>